This notebook holds the solutions for the given objectives:  
⚡Which region has the highest profit, and which country within that region has the highest profit?  
⚡What is the highest number of orders placed within a 72-hour period?  
⚡Which month has the highest average number of units sold?  
⚡On analyzing the financial performance of placed orders. Identify the lowest and highest margin percentages from this analysis?  
⚡On identifying key sales trends d etermine the top 3 highest-value orders for a specific item type from the dataset?  
⚡Which type of item is most frequently sold on weekends in the Sub-Saharan Africa region?  
⚡Compute year-over-year growth for total revenue.

Here is the data dictionary for the same:  
__Region:__ The broad geographical region of the sale (e.g., “Europe”, “Sub-Saharan Africa”).  
__Country:__ The specific country within the region where the sale occurred.  
__Item Type__: The category of the product sold (e.g., “Baby Food”, “Office Supplies”).  
__Sales Channel__: The method of sale, either “Online” or “Offline”.  
__Order Priority__: The priority level assigned to the order (e.g., “H”, “C”, “L”).  
__Order Date__: The date the order was placed.  
__Order ID__: A unique identifier for the order.  
__Ship Date__: The date the order was shipped.  
__Units Sold__: The quantity of the product sold.  
__Unit Price__: The selling price per unit of the product.  
__Unit Cost__: The cost price per unit of the product.  
__Total Revenue__: The total revenue generated from the sale (Units Sold * Unit Price).  
__Total Cost__: The total cost incurred for the sale (Units Sold * Unit Cost).  
__Total Profit__: The total profit made from the sale (Total Revenue — Total Cost).

In [51]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
        .appName("ShippingDataAnalysis") \
        .getOrCreate()
        
df = spark.read.csv("AmazonSalesData.csv", header = True, inferSchema = True)

In [52]:
df.show(10)
df.printSchema()

+--------------------+--------------------+---------------+-------------+--------------+----------+---------+---------+----------+----------+---------+-------------+----------+------------+
|              Region|             Country|      Item Type|Sales Channel|Order Priority|Order Date| Order ID|Ship Date|Units Sold|Unit Price|Unit Cost|Total Revenue|Total Cost|Total Profit|
+--------------------+--------------------+---------------+-------------+--------------+----------+---------+---------+----------+----------+---------+-------------+----------+------------+
|Australia and Oce...|              Tuvalu|      Baby Food|      Offline|             H| 5/28/2010|669165933|6/27/2010|      9925|    255.28|   159.42|    2533654.0| 1582243.5|    951410.5|
|Central America a...|             Grenada|         Cereal|       Online|             C| 8/22/2012|963881480|9/15/2012|      2804|     205.7|   117.11|     576782.8| 328376.44|   248406.36|
|              Europe|              Russia|Office Supplies|      Offline|             L|  5/2/2014|341417157| 5/8/2014|      1779|    651.21|   524.96|   1158502.59| 933903.84|   224598.75|
|  Sub-Saharan Africa|Sao Tome and Prin...|         Fruits|       Online|             C| 6/20/2014|514321792| 7/5/2014|      8102|      9.33|     6.92|     75591.66|  56065.84|    19525.82|
|  Sub-Saharan Africa|              Rwanda|Office Supplies|      Offline|             L|  2/1/2013|115456712| 2/6/2013|      5062|    651.21|   524.96|   3296425.02|2657347.52|    639077.5|
|Australia and Oce...|     Solomon Islands|      Baby Food|       Online|             C|  2/4/2015|547995746|2/21/2015|      2974|    255.28|   159.42|    759202.72| 474115.08|   285087.64|
|  Sub-Saharan Africa|              Angola|      Household|      Offline|             M| 4/23/2011|135425221|4/27/2011|      4187|    668.27|   502.54|   2798046.49|2104134.98|   693911.51|
|  Sub-Saharan Africa|        Burkina Faso|     Vegetables|       Online|             H| 7/17/2012|871543967|7/27/2012|      8082|    154.06|    90.93|   1245112.92| 734896.26|   510216.66|
|  Sub-Saharan Africa|Republic of the C...|  Personal Care|      Offline|             M| 7/14/2015|770463311|8/25/2015|      6070|     81.73|    56.67|     496101.1|  343986.9|    152114.2|
|  Sub-Saharan Africa|             Senegal|         Cereal|       Online|             H| 4/18/2014|616607081|5/30/2014|      6593|     205.7|   117.11|    1356180.1| 772106.23|   584073.87|
+--------------------+--------------------+---------------+-------------+--------------+----------+---------+---------+----------+----------+---------+-------------+----------+------------+
only showing top 10 rows
root
 |-- Region: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Item Type: string (nullable = true)
 |-- Sales Channel: string (nullable = true)
 |-- Order Priority: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Order ID: integer (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Units Sold: integer (nullable = true)
 |-- Unit Price: double (nullable = true)
 |-- Unit Cost: double (nullable = true)
 |-- Total Revenue: double (nullable = true)
 |-- Total Cost: double (nullable = true)
 |-- Total Profit: double (nullable = true)

In [53]:
# Remove spaces and trim column names
df = df.toDF(*[col_name.replace(" ", "").strip() for col_name in df.columns])

print(df.columns)

['Region', 'Country', 'ItemType', 'SalesChannel', 'OrderPriority', 'OrderDate', 'OrderID', 'ShipDate', 'UnitsSold', 'UnitPrice', 'UnitCost', 'TotalRevenue', 'TotalCost', 'TotalProfit']

In [54]:
from pyspark.sql.functions import to_date, col, coalesce, when

df = df.withColumn(
    "OrderDate",
    when(col("OrderDate").rlike(r"^\d{1}/\d{1,2}/\d{4}$"), to_date(col("OrderDate"), "M/d/yyyy"))
    .when(col("OrderDate").rlike(r"^\d{2}/\d{1,2}/\d{4}$"), to_date(col("OrderDate"), "MM/d/yyyy"))
    .otherwise(None)
).withColumn(
    "ShipDate",
    when(col("ShipDate").rlike(r"^\d{1}/\d{1,2}/\d{4}$"), to_date(col("ShipDate"), "M/d/yyyy"))
    .when(col("ShipDate").rlike(r"^\d{2}/\d{1,2}/\d{4}$"), to_date(col("ShipDate"), "MM/d/yyyy"))
    .otherwise(None)
)
df.show(5)
df.printSchema()

+--------------------+--------------------+---------------+------------+-------------+----------+---------+----------+---------+---------+--------+------------+----------+-----------+
|              Region|             Country|       ItemType|SalesChannel|OrderPriority| OrderDate|  OrderID|  ShipDate|UnitsSold|UnitPrice|UnitCost|TotalRevenue| TotalCost|TotalProfit|
+--------------------+--------------------+---------------+------------+-------------+----------+---------+----------+---------+---------+--------+------------+----------+-----------+
|Australia and Oce...|              Tuvalu|      Baby Food|     Offline|            H|2010-05-28|669165933|2010-06-27|     9925|   255.28|  159.42|   2533654.0| 1582243.5|   951410.5|
|Central America a...|             Grenada|         Cereal|      Online|            C|2012-08-22|963881480|2012-09-15|     2804|    205.7|  117.11|    576782.8| 328376.44|  248406.36|
|              Europe|              Russia|Office Supplies|     Offline|            L|2014-05-02|341417157|2014-05-08|     1779|   651.21|  524.96|  1158502.59| 933903.84|  224598.75|
|  Sub-Saharan Africa|Sao Tome and Prin...|         Fruits|      Online|            C|2014-06-20|514321792|2014-07-05|     8102|     9.33|    6.92|    75591.66|  56065.84|   19525.82|
|  Sub-Saharan Africa|              Rwanda|Office Supplies|     Offline|            L|2013-02-01|115456712|2013-02-06|     5062|   651.21|  524.96|  3296425.02|2657347.52|   639077.5|
+--------------------+--------------------+---------------+------------+-------------+----------+---------+----------+---------+---------+--------+------------+----------+-----------+
only showing top 5 rows
root
 |-- Region: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- ItemType: string (nullable = true)
 |-- SalesChannel: string (nullable = true)
 |-- OrderPriority: string (nullable = true)
 |-- OrderDate: date (nullable = true)
 |-- OrderID: integer (nullable = true)
 |-- ShipDate: date (nullable = true)
 |-- UnitsSold: integer (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- UnitCost: double (nullable = true)
 |-- TotalRevenue: double (nullable = true)
 |-- TotalCost: double (nullable = true)
 |-- TotalProfit: double (nullable = true)

---

Which region has the highest profit, and which country within that region has the highest profit?

In [59]:
from pyspark.sql.functions import format_number, col, sum

# Group by region and sum profits
region_profit = df.groupBy("Region") \
                    .agg(sum("TotalProfit").alias("total_profit")) \
                    .orderBy(col("total_profit").desc())

# Show top region with formatted number
region_profit.withColumn("total_profit", format_number(col("total_profit"), 2)) \
                .show(1, truncate=False)

+------------------+-------------+
|Region            |total_profit |
+------------------+-------------+
|Sub-Saharan Africa|12,183,211.40|
+------------------+-------------+
only showing top 1 row

In [61]:
# Get the top region name
top_region = region_profit.first()["Region"]

# Find the top country within that region
df.filter(col("Region") == top_region) \
    .groupBy("Country") \
    .agg(sum("TotalProfit").alias("total_profit")) \
    .orderBy(col("total_profit").desc()) \
    .withColumn("total_profit", format_number(col("total_profit"), 2)) \
    .show(1, truncate=False)

+--------+------------+
|Country |total_profit|
+--------+------------+
|Djibouti|2,425,317.87|
+--------+------------+
only showing top 1 row

In [58]:
from pyspark.sql.functions import col, sum

# Group the data by region and calculate the total profit for each region
region_and_country_with_profit = df.groupBy(col('Region')).sum('TotalProfit')

# Order the regions by total profit in descending order and get the region with the highest profit
region_with_highest_profit = region_and_country_with_profit.orderBy("sum(TotalProfit)", ascending=False).first()

# Print the region with the highest profit and its total profit
print(f"{region_with_highest_profit['Region']} Region has the highest profit with a total profit of {region_with_highest_profit['sum(TotalProfit)']}")

# Filter the data to include only the rows from the region with the highest profit
# Group the data by country within that region and calculate the total profit for each country
# Order the countries by total profit in descending order and get the country with the highest profit
country_with_highest_profit = df.where(col('Region') == region_with_highest_profit['Region']) \
                                .groupBy(col('Country')).sum('TotalProfit') \
                                .orderBy("sum(TotalProfit)", ascending=False).first()

# Print the country with the highest profit within the region with the highest profit and its total profit
print(f"{country_with_highest_profit['Country']} country, under region {region_with_highest_profit['Region']} has the highest profit with a total profit of {country_with_highest_profit['sum(TotalProfit)']}")

#Output : 12183211.400000004, 2425317.87

Sub-Saharan Africa Region has the highest profit with a total profit of 12183211.400000004
Djibouti country, under region Sub-Saharan Africa has the highest profit with a total profit of 2425317.87

---

What is the highest number of orders placed within a 72-hour period?

In [62]:
df.printSchema()

root
 |-- Region: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- ItemType: string (nullable = true)
 |-- SalesChannel: string (nullable = true)
 |-- OrderPriority: string (nullable = true)
 |-- OrderDate: date (nullable = true)
 |-- OrderID: integer (nullable = true)
 |-- ShipDate: date (nullable = true)
 |-- UnitsSold: integer (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- UnitCost: double (nullable = true)
 |-- TotalRevenue: double (nullable = true)
 |-- TotalCost: double (nullable = true)
 |-- TotalProfit: double (nullable = true)

In [63]:
from pyspark.sql.functions import window, count, col

order = df.groupBy(window(col("OrderDate"), '72 hours')) \
            .agg(count("OrderID").alias("count_order_id")) \
            .orderBy('count_order_id', ascending = False)
            
# Print the highest number of orders placed within any 72-hour period
print(f"Highest number of orders ordered under a 72 hr period is {order.first()[1]}")

Highest number of orders ordered under a 72 hr period is 2

---

Which month has the highest average number of units sold?

In [65]:
df.printSchema()
df.show(5)

root
 |-- Region: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- ItemType: string (nullable = true)
 |-- SalesChannel: string (nullable = true)
 |-- OrderPriority: string (nullable = true)
 |-- OrderDate: date (nullable = true)
 |-- OrderID: integer (nullable = true)
 |-- ShipDate: date (nullable = true)
 |-- UnitsSold: integer (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- UnitCost: double (nullable = true)
 |-- TotalRevenue: double (nullable = true)
 |-- TotalCost: double (nullable = true)
 |-- TotalProfit: double (nullable = true)

+--------------------+--------------------+---------------+------------+-------------+----------+---------+----------+---------+---------+--------+------------+----------+-----------+
|              Region|             Country|       ItemType|SalesChannel|OrderPriority| OrderDate|  OrderID|  ShipDate|UnitsSold|UnitPrice|UnitCost|TotalRevenue| TotalCost|TotalProfit|
+--------------------+--------------------+---------------+------------+-------------+----------+---------+----------+---------+---------+--------+------------+----------+-----------+
|Australia and Oce...|              Tuvalu|      Baby Food|     Offline|            H|2010-05-28|669165933|2010-06-27|     9925|   255.28|  159.42|   2533654.0| 1582243.5|   951410.5|
|Central America a...|             Grenada|         Cereal|      Online|            C|2012-08-22|963881480|2012-09-15|     2804|    205.7|  117.11|    576782.8| 328376.44|  248406.36|
|              Europe|              Russia|Office Supplies|     Offline|            L|2014-05-02|341417157|2014-05-08|     1779|   651.21|  524.96|  1158502.59| 933903.84|  224598.75|
|  Sub-Saharan Africa|Sao Tome and Prin...|         Fruits|      Online|            C|2014-06-20|514321792|2014-07-05|     8102|     9.33|    6.92|    75591.66|  56065.84|   19525.82|
|  Sub-Saharan Africa|              Rwanda|Office Supplies|     Offline|            L|2013-02-01|115456712|2013-02-06|     5062|   651.21|  524.96|  3296425.02|2657347.52|   639077.5|
+--------------------+--------------------+---------------+------------+-------------+----------+---------+----------+---------+---------+--------+------------+----------+-----------+
only showing top 5 rows

In [ ]:
from pyspark.sql.functions import date_format, avg, col

month_order = df.groupBy(date_format(col("OrderDate"), "MMMM").alias("month_name")) \
                .agg(avg(col('UnitsSold')).alias('avg_units_sold')) \
                .orderBy('avg_units_sold', ascending=False) \
                .first()

# Print the month with the highest average number of units sold
print(f"The month with the highest average number of units sold is {month_order['month_name']}")

The month with the highest average of units sold is July

---

On analyzing the financial performance of placed orders. Identify the lowest and highest margin percentages from this analysis?

In [70]:
df.show(5)
df.printSchema()

+--------------------+--------------------+---------------+------------+-------------+----------+---------+----------+---------+---------+--------+------------+----------+-----------+
|              Region|             Country|       ItemType|SalesChannel|OrderPriority| OrderDate|  OrderID|  ShipDate|UnitsSold|UnitPrice|UnitCost|TotalRevenue| TotalCost|TotalProfit|
+--------------------+--------------------+---------------+------------+-------------+----------+---------+----------+---------+---------+--------+------------+----------+-----------+
|Australia and Oce...|              Tuvalu|      Baby Food|     Offline|            H|2010-05-28|669165933|2010-06-27|     9925|   255.28|  159.42|   2533654.0| 1582243.5|   951410.5|
|Central America a...|             Grenada|         Cereal|      Online|            C|2012-08-22|963881480|2012-09-15|     2804|    205.7|  117.11|    576782.8| 328376.44|  248406.36|
|              Europe|              Russia|Office Supplies|     Offline|            L|2014-05-02|341417157|2014-05-08|     1779|   651.21|  524.96|  1158502.59| 933903.84|  224598.75|
|  Sub-Saharan Africa|Sao Tome and Prin...|         Fruits|      Online|            C|2014-06-20|514321792|2014-07-05|     8102|     9.33|    6.92|    75591.66|  56065.84|   19525.82|
|  Sub-Saharan Africa|              Rwanda|Office Supplies|     Offline|            L|2013-02-01|115456712|2013-02-06|     5062|   651.21|  524.96|  3296425.02|2657347.52|   639077.5|
+--------------------+--------------------+---------------+------------+-------------+----------+---------+----------+---------+---------+--------+------------+----------+-----------+
only showing top 5 rows
root
 |-- Region: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- ItemType: string (nullable = true)
 |-- SalesChannel: string (nullable = true)
 |-- OrderPriority: string (nullable = true)
 |-- OrderDate: date (nullable = true)
 |-- OrderID: integer (nullable = true)
 |-- ShipDate: date (nullable = true)
 |-- UnitsSold: integer (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- UnitCost: double (nullable = true)
 |-- TotalRevenue: double (nullable = true)
 |-- TotalCost: double (nullable = true)
 |-- TotalProfit: double (nullable = true)

In [73]:
from pyspark.sql.functions import col, round

# Rename the columns 'Unit Price' to 'SP' (Selling Price) and 'Unit Cost' to 'CP' (Cost Price)
margin = df.withColumnsRenamed({'UnitPrice':'SP','UnitCost':'CP'}) \
            .select('OrderID', 'SP', 'CP')

# Calculate the margin percentage for each order item and round it to the nearest integer
margin_percentage = margin.withColumn("Percentage", round(((col('SP') - col('CP')) / col('SP')) * 100))

# Find the order item with the lowest margin percentage
lowest_margin_percentage = margin_percentage.orderBy('Percentage', ascending=True).first()[3]

# Find the order item with the highest margin percentage
highest_margin_percentage = margin_percentage.orderBy('Percentage', ascending=False).first()[3]

# Print the lowest and highest margin percentages
print(f"Order Item with the lowest margin percentage is: {int(lowest_margin_percentage)}%")
print(f"Order Item with the highest margin percentage is: {int(highest_margin_percentage)}%")

Order Item with the lowest margin percentage is: 14%
Order Item with the highest margin percentage is: 67%

---

On identifying key sales trends determine the top 3 highest-value orders for a specific item type from the dataset?

In [78]:
from pyspark.sql.functions import col, row_number
from pyspark.sql.window import Window

# Create a window specification to partition the data by 'Item Type' and order by 'Total Profit' in descending order
window_spec = Window.partitionBy(col('ItemType')).orderBy(col('TotalProfit').desc())

# Add a row number column to the DataFrame based on the window specification
highest_valuable_orders = df.withColumn("row_id", row_number().over(window_spec)) \
                            .where(col('row_id').isin(1, 2, 3)) \
                            .drop('row_id')

# Display the top 3 highest-value orders for each item type
highest_valuable_orders.show(highest_valuable_orders.count(), truncate=False)

+---------------------------------+------------------------------+---------------+------------+-------------+----------+---------+----------+---------+---------+--------+------------+----------+-----------+
|Region                           |Country                       |ItemType       |SalesChannel|OrderPriority|OrderDate |OrderID  |ShipDate  |UnitsSold|UnitPrice|UnitCost|TotalRevenue|TotalCost |TotalProfit|
+---------------------------------+------------------------------+---------------+------------+-------------+----------+---------+----------+---------+---------+--------+------------+----------+-----------+
|Australia and Oceania            |Tuvalu                        |Baby Food      |Offline     |H            |2010-05-28|669165933|2010-06-27|9925     |255.28   |159.42  |2533654.0   |1582243.5 |951410.5   |
|Europe                           |Monaco                        |Baby Food      |Offline     |H            |2012-05-29|688288152|2012-06-02|8614     |255.28   |159.42  |2198981.92  |1373243.88|825738.04  |
|Europe                           |Norway                        |Baby Food      |Online      |L            |2014-05-14|819028031|2014-06-28|7450     |255.28   |159.42  |1901836.0   |1187679.0 |714157.0   |
|Australia and Oceania            |Australia                     |Beverages      |Offline     |H            |2014-07-07|240470397|2014-07-11|9389     |47.45    |31.79   |445508.05   |298476.31 |147031.74  |
|Australia and Oceania            |Federated States of Micronesia|Beverages      |Online      |C            |2014-10-28|217221009|2014-11-15|9379     |47.45    |31.79   |445033.55   |298158.41 |146875.14  |
|Sub-Saharan Africa               |Sao Tome and Principe         |Beverages      |Offline     |C            |2011-01-16|180283772|2011-01-21|8829     |47.45    |31.79   |418936.05   |280673.91 |138262.14  |
|Sub-Saharan Africa               |Djibouti                      |Cereal         |Online      |H            |2017-05-20|555990016|2017-06-17|8656     |205.7    |117.11  |1780539.2   |1013704.16|766835.04  |
|Sub-Saharan Africa               |Senegal                       |Cereal         |Online      |H            |2014-04-18|616607081|2014-05-30|6593     |205.7    |117.11  |1356180.1   |772106.23 |584073.87  |
|Middle East and North Africa     |Saudi Arabia                  |Cereal         |Online      |M            |2013-03-25|844530045|2013-03-28|4063     |205.7    |117.11  |835759.1    |475817.93 |359941.17  |
|Australia and Oceania            |Fiji                          |Clothes        |Offline     |C            |2010-06-30|647876489|2010-08-01|9905     |109.28   |35.84   |1082418.4   |354995.2  |727423.2   |
|Asia                             |Bangladesh                    |Clothes        |Online      |L            |2017-01-13|187310731|2017-03-01|8263     |109.28   |35.84   |902980.64   |296145.92 |606834.72  |
|Middle East and North Africa     |Lebanon                       |Clothes        |Online      |L            |2012-09-18|663110148|2012-10-08|7884     |109.28   |35.84   |861563.52   |282562.56 |579000.96  |
|Middle East and North Africa     |Pakistan                      |Cosmetics      |Offline     |L            |2013-07-05|231145322|2013-08-16|9892     |437.2    |263.33  |4324782.4   |2604860.36|1719922.04 |
|Australia and Oceania            |Samoa                         |Cosmetics      |Online      |H            |2013-07-20|670854651|2013-08-07|9654     |437.2    |263.33  |4220728.8   |2542187.82|1678540.98 |
|Europe                           |Iceland                       |Cosmetics      |Online      |C            |2016-12-31|331438481|2016-12-31|8867     |437.2    |263.33  |3876652.4   |2334947.11|1541705.29 |
|Sub-Saharan Africa               |Lesotho                       |Fruits         |Online      |L            |2013-08-18|918419539|2013-09-18|9606     |9.33     |6.92    |89623.98    |66473.52  |23150.46   |
|Sub-Saharan Africa               |Sao Tome and Principe         |Fruits         |Online      |C            |2014-06-20|514321792|2014-07-05|8102     |9.33     |6.92    |75591.66    |56065.84  |19525.82   |
|Sub-Saharan Africa               |Sao Tome and Principe         |Fruits         |Offline     |H            |2013-09-17|508980977|2013-10-24|7637     |9.33     |6.92    |71253.21    |52848.04  |18405.17   |
|Central America and the Caribbean|Honduras                      |Household      |Offline     |H            |2017-02-08|522840487|2017-02-13|8974     |668.27   |502.54  |5997054.98  |4509793.96|1487261.02 |
|Asia                             |Myanmar                       |Household      |Offline     |H            |2015-01-16|177713572|2015-03-01|8250     |668.27   |502.54  |5513227.5   |4145955.0 |1367272.5  |
|North America                    |Mexico                        |Household      |Offline     |C            |2014-11-06|986435210|2014-12-12|6954     |668.27   |502.54  |4647149.58  |3494663.16|1152486.42 |
|Australia and Oceania            |East Timor                    |Meat           |Online      |L            |2012-07-31|322067916|2012-09-11|5908     |421.89   |364.69  |2492526.12  |2154588.52|337937.6   |
|Sub-Saharan Africa               |The Gambia                    |Meat           |Online      |M            |2017-01-14|825304400|2017-01-23|4767     |421.89   |364.69  |2011149.63  |1738477.23|272672.4   |
|Europe                           |Lithuania                     |Office Supplies|Offline     |H            |2010-10-24|166460740|2010-11-17|8287     |651.21   |524.96  |5396577.27  |4350343.52|1046233.75 |
|Asia                             |Brunei                        |Office Supplies|Online      |L            |2012-04-01|320009267|2012-05-08|6708     |651.21   |524.96  |4368316.68  |3521431.68|846885.0   |
|Sub-Saharan Africa               |Cameroon                      |Office Supplies|Online      |M            |2011-11-07|177636754|2011-11-15|5518     |651.21   |524.96  |3593376.78  |2896729.28|696647.5   |
|Sub-Saharan Africa               |Gabon                         |Personal Care  |Offline     |L            |2012-07-08|228944623|2012-07-09|8656     |81.73    |56.67   |707454.88   |490535.52 |216919.36  |
|North America                    |Mexico                        |Personal Care  |Offline     |L            |2012-02-17|430915820|2012-03-20|6422     |81.73    |56.67   |524870.06   |363934.74 |160935.32  |
|Central America and the Caribbean|Costa Rica                    |Personal Care  |Offline     |L            |2017-05-08|456767165|2017-05-21|6409     |81.73    |56.67   |523807.57   |363198.03 |160609.54  |
|Sub-Saharan Africa               |Djibouti                      |Snacks         |Online      |M            |2017-02-25|756274640|2017-02-25|7327     |152.58   |97.44   |1117953.66  |713942.88 |404010.78  |
|Sub-Saharan Africa               |Zambia                        |Snacks         |Online      |L            |2011-01-04|122583663|2011-01-05|4085     |152.58   |97.44   |623289.3    |398042.4  |225246.9   |
|Central America and the Caribbean|Honduras                      |Snacks         |Online      |L            |2016-06-30|795490682|2016-07-26|2225     |152.58   |97.44   |339490.5    |216804.0  |122686.5   |
|Sub-Saharan Africa               |Burkina Faso                  |Vegetables     |Online      |H            |2012-07-17|871543967|2012-07-27|8082     |154.06   |90.93   |1245112.92  |734896.26 |510216.66  |
|Sub-Saharan Africa               |Kenya                         |Vegetables     |Online      |L            |2012-03-18|827844560|2012-04-07|6457     |154.06   |90.93   |994765.42   |587135.01 |407630.41  |
|Asia                             |Laos                          |Vegetables     |Offline     |C            |2011-09-15|789176547|2011-10-23|3732     |154.06   |90.93   |574951.92   |339350.76 |235601.16  |
+---------------------------------+------------------------------+---------------+------------+-------------+----------+---------+----------+---------+---------+--------+------------+----------+-----------+

---

Which type of item is most frequently sold on weekends in the Sub-Saharan Africa region?

In [83]:
from pyspark.sql.functions import sum, col, dayofweek

frequently_sold = df \
    .where((col("Region") == "Sub-Saharan Africa") & (dayofweek(col("OrderDate")).isin([7, 1]))) \
    .groupBy("ItemType") \
    .agg(sum("UnitsSold").alias("Sum of Units Sold")) \
    .orderBy(col("Sum of Units Sold").desc())

frequently_sold.first()

Row(ItemType='Personal Care', Sum of Units Sold=13796)

---

Compute year-over-year growth for total revenue.

In [ ]:
from pyspark.sql.functions import year, sum, lag, round, concat, lit
from pyspark.sql.window import Window

# Aggregate revenue by year
revenue_by_year = df.groupBy(year(col("OrderDate")).alias("Year")) \
    .agg(sum("TotalRevenue").alias("Yearly Revenue"))

# Calculate year-over-year growth
windowSpec = Window.orderBy("Year")
revenue_with_growth = revenue_by_year.withColumn(
    "YoY Growth %",
    concat(round(((col("Yearly Revenue") - lag("Yearly Revenue", 1).over(windowSpec)) / lag("Yearly Revenue", 1).over(windowSpec))*100).cast("int").cast("string"),lit(" %"))
)

revenue_with_growth.show()

PySparkAttributeError: [ATTRIBUTE_NOT_SUPPORTED] Attribute `display` is not supported.